.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
  background-color: lightgray;
}

.deleteButton{
  display: block;
  margin-left: auto;
  margin-right: 4px;
  margin-top: 4px;
}
