.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
  background-color: lightgray;
}

.scrollable-table {
  max-height: 500px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
}

.deleteButton{
  display: block;
  margin-left: auto;
  margin-right: 4px;
  margin-top: 4px;
}
