.footer-class{
  position: fixed;
  bottom: 0;
  background: gray;
  width: 100%;
  padding-top: 80px;
  color: #fff;
  display: inline-block;
  z-index: 1;
}

.total-titulo{
  width: 130px;
  position: absolute;
  top: 50%;
  left: 10%;
  margin: -10px;

}

.button-finalizar{
  width: 130px;
  position: absolute;
  top: 55%;
  right: 15%;
  margin: -30px;
}

